html, body {
  margin: 0;
  padding: 0;
}

#inactive {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background: red;
}

#inactive p {
	margin-left: 10px;
}

.hidden {
	display: none;
}

.loading {
	background: gray;
}
.loading:after{
	display: block;
	position: absolute;
	top: 40px;
	left: 10px;
	content: 'Loading model...';
}